@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
  background-color: #000000;
  background-image: url("images/bg.jpg");
  background-attachment: fixed;
  background-size: 900p 400p;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  color: #FFB000;
}

h1 {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 900;
  font-size: 60px;
  color: #41FF00;
}

a {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 500;
  color: #FFB000;
}

h2 {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 900;
}

.icon {
  color: #41FF00;
  font-size: 40px;
  text-align: right;
}

.button {
    background-color: #41FF00;
    color: #000000;
    padding: 15px 20px;
    border-radius: 4px;
    margin: 10px 10px 10px 10px;
}
a:hover {
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 500;
  color: #7BDFF2;
  text-decoration: none;
}

#profile-pic {
  border-radius: 50%;
}

.right-side {
  text-align: right;
}

#intro {
  margin-top: 460px;
  margin-left: 2px;
  text-align: left;
  width: 780px;
  color: #41FF00
}

@media (max-width: 800px) {
  body {
    background-size: 800p 300p;
  }
  #intro {
    margin-top: 380px;
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 540px) {
  body {
    background-size: 600p 200p;
  }
  #intro {
    margin-top: 340px;
    width: 300px;
    height: 300px;
  }
}
