@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  background-color: #EFF7F6;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  color: #000000;
}

h1 {
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  color: #ffafcc;
}

a {
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  color: #ffc8dd;
}

h2 {
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
}

.icon {
  color: #BDB2FF;
  font-size: 40px;
}

.button {
    background-color: #FFFFFC;
    color: #000000;
    padding: 15px 20px;
    border-radius: 4px;
    margin: 10px 10px 10px 10px;
}
a:hover {
  font-family: 'Inconsolata', monospace;
  font-weight: 500;
  color: #7BDFF2;
  text-decoration: none;
}

#profile-pic {
  border-radius: 50%;
}

.box {
  color: #1f1e1e;
  margin: 10px auto;
  padding: 40px;
  width: 300px;
}

#intro {
  margin: 40px auto 10px;
  background-color: #346f6f;
  border-radius: 10%;
  text-align: center;
  color: #7BDFF2;
  width: 500px;
  height: 500px;
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  #intro {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  #intro {
    width: 300px;
    height: 300px;
  }
}
